.navbarScroll.navbarDark {
    background-color: black;
	position:absolute;
}

#home{
	height: 100vh;
	width:100%;
	position:relative;
}

.hometext{
	padding-top: 10rem;
	height:100%;
	max-width:100%;
	text-align: center;
	color: white;
	font-size:2rem;
	position:absolute;
}

.titletext{
	font-size: 3rem;
}

.subtitletext{
	
}

.ytdemoreel {
	position:relative;
	max-width:100%;
	max-height:100%;
}

.h-line{
	border-bottom: 1px solid white;
	position:relative;
	clear:both;
	display:block;
	margin-top:1rem;
	margin-left:30vh;
	margin-right:30vh
}

#portfolio{
	
}

.portfoliotext{
	padding-top: 5rem;
	text-align: center;
	color: white;
	font-size:2rem;
	padding-bottom:5rem;
}

.ytportfolio{
	max-height:100%;
	max-width:100%;
}

.row{
	padding-bottom:7rem;
}

#contact{
	height: 100vh;
}

.contacttext{
	padding-top: 5rem;
	text-align: center;
	color: white;
	font-size:2rem;
	padding-bottom:5rem;
}

.formfields{
	width:50%;
	margin:auto;
}