.navbarScroll.navbarDark {
    background-color: black;
	position:absolute;
}

#home{
	height: 100vh;
	width:100%;
	min-width:333px;
	position:relative;
}

.hometext{
	padding-top: 8rem;
	height:100%;
	max-width:100%;
	text-align: center;
	color: white;
	font-size:2rem;
	position:absolute;
	margin: auto;
}

.titletext{
	font-size: 2.5rem;
}

.ytdemoreel {
	position:relative;
	max-width:100%;
}

.h-line{
	border-bottom: 1px solid white;
	position:relative;
	clear:both;
	display:block;
	margin-top:1rem;
	margin-left:30vh;
	margin-right:30vh
}

#portfolio{
	
}

.portfoliotext{
	padding-top: 5rem;
	text-align: center;
	color: white;
	font-size:2rem;
	padding-bottom:5rem;
}

.portfoliocont{
	position: relative;
	overflow: hidden;
	maxwidth:100%;
}

.ytportfolio{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.row{
}

#contact{
	height: 100vh;
}

.contacttext{
	padding-top: 5rem;
	text-align: center;
	color: white;
	font-size:2rem;
	padding-bottom:5rem;
}

.formfields{
	width:50%;
	min-width:250px;
	margin:auto;
}