html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.navbarScroll.navbarDark {
    background-color: black;
	position:absolute;
}

#home{
}

.hometext{
	padding-top: 8rem;
	height:100%;
	max-width:100%;
	text-align: center;
	color: white;
	font-size:2rem;
	position:relative;
	margin: auto;
}

.titletext{
	font-size: 2.5rem;
}

.ytdemoreel {
	position:relative;
	margin:auto;
	max-height:100%;
	max-width:100%;
}

.h-line{
	border-bottom: 1px solid white;
	position:relative;
	clear:both;
	display:block;
	margin-top:2rem;
	margin-left:30vh;
	margin-right:30vh
}

#portfolio{
	
}

.portfoliotext{
	padding-top: 5rem;
	text-align: center;
	color: white;
	font-size:2rem;
	padding-bottom:5rem;
}

.ytportfolio{
	position:relative;
	margin:auto;
	max-width:100%;
}

#contact{
	height: 100vh;
}

.contacttext{
	padding-top: 5rem;
	text-align: center;
	color: white;
	font-size:2rem;
	padding-bottom:5rem;
}

.formfields{
	width:50%;
	min-width:250px;
	margin:auto;
}